{{ define "email.default.html" }}

<h2>🚨 Kubernetes Alert</h2>

<b>Alert:</b> {{ .CommonLabels.alertname }}

<br>

<b>Severity:</b> {{ .CommonLabels.severity }}

<br>

<b>Namespace:</b> {{ .CommonLabels.namespace }}

<br>

<b>Pod:</b> {{ .CommonLabels.pod }}

<br>

<b>Status:</b> {{ .Status }}

<br>

<b>Description:</b>

{{ .CommonAnnotations.description }}

{{ end }}