# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env

# Kubernetes
*.kubeconfig

# Cosign
cosign.key

# Terraform
.terraform/
*.tfstate

# Node
node_modules/

# Build
dist/
build/

# Coverage
coverage/

# Python
__pycache__/

# Temporary
tmp/
temp/

platform/secrets/sealed-secrets/certs/
platform/secrets/sealed-secrets/tmp/
platform/secrets/sealed-secrets/kubeseal

platform/observability/alertmanager/secrets/slack-secret.yaml
backup/