# Global Owners
* @platform-team

# GitOps
/gitops/ @devops-team

# Security
/security/ @security-team

# Platform
/platform/ @platform-team

# Applications
/applications/ @frontend-team

# Observability
/observability/ @sre-team