{{ define "slack.title" }}
[{{ .Status | upper }}] {{ len .Alerts }} alert(s)
{{ end }}

{{ define "slack.body" }}

{{ range .Alerts }}

:red_circle: *{{ .Labels.alertname }}*

• Severity: `{{ .Labels.severity }}`

• Namespace: `{{ .Labels.namespace }}`

• Pod: `{{ .Labels.pod }}`

• Instance: `{{ .Labels.instance }}`

• Summary:
{{ .Annotations.summary }}

• Description:
{{ .Annotations.description }}

{{ end }}

{{ end }}